.grid-style {
    padding-top: 5em;
    align-items: center;
}

.card-style {
    max-width: 400px;
    min-width: 250px;
    width: 70%;

}

.container {
    width: min(100% - 10px, 75%);
    margin-inline: auto;
    
}

.header-image {
    background-size: cover;
}

.spacer {
    flex: 1 1 auto;
}

.example-form {
   max-height: 60px;
 
   padding-left: 10px;
}




