<p>
  <mat-toolbar color="primary">
    <span>Employee Manager Dashboard</span>
    <span class="spacer"></span>
    <button mat-flat-button color="accent">Add Employee</button>

    <form class="example-form">
      <mat-form-field>
        <mat-label>Search employees</mat-label>
        <input type="text" matInput placeholder="Ex. 1">
      </mat-form-field>
    </form>

  </mat-toolbar>
</p>

<div class="container">

  <mat-grid-list class="grid-style" cols="4" rowHeight="380px">
    <div *ngFor="let emp of employees">

      <mat-grid-tile>
        <mat-card class="card-style" tabindex="0">
          <mat-card-header>
            <img mat-card-avatar class="header-image" [src]="emp.imageUrl" />
            <mat-card-title>{{emp?.name}}</mat-card-title>
            <mat-card-subtitle>{{emp?.jobTitle}}</mat-card-subtitle>

          </mat-card-header>
          <mat-card-content>
            <mat-list>

              <mat-list-item>
                <mat-icon matListItemIcon> email</mat-icon>
                <span matListItemTitle>Email</span>
                <span matListItemLine>{{emp?.email}}</span>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon> contact_phone</mat-icon>
                <span matListItemTitle>Phone</span>
                <span matListItemLine>{{emp?.phone}}</span>
              </mat-list-item>

            </mat-list>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary">Edit</button>
            <button mat-raised-button color="warning">Delete</button>
          </mat-card-actions>


        </mat-card>
      </mat-grid-tile>


    </div>

  </mat-grid-list>

</div>